<div class="time-selector">
  <h2>Wann möchtest du zurück sein?</h2>
  <p class="description">Wähle deine gewünschte Rückkehrzeit (mindestens 6 Stunden in der Zukunft)</p>

  <mat-card>
    <mat-card-content>
      <mat-radio-group [(ngModel)]="dateType" (change)="onDateTypeChange()">
        <mat-radio-button value="today">Heute</mat-radio-button>
        <mat-radio-button value="other">Anderes Datum</mat-radio-button>
      </mat-radio-group>

      <div *ngIf="dateType === 'other'" class="date-picker">
        <mat-form-field appearance="outline">
          <mat-label>Datum wählen</mat-label>
          <input matInput [matDatepicker]="picker" 
                 [(ngModel)]="selectedDate"
                 [min]="minDate"
                 [max]="maxDate"
                 (dateChange)="onDateChange()">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="time-inputs" *ngIf="hours.length > 0">
        <mat-form-field appearance="outline">
          <mat-label>Stunde</mat-label>
          <mat-select [(ngModel)]="selectedHour" (selectionChange)="onTimeChange()">
            <mat-option *ngFor="let hour of hours" [value]="hour">
              {{hour}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Minute</mat-label>
          <mat-select [(ngModel)]="selectedMinute" (selectionChange)="onTimeChange()">
            <mat-option *ngFor="let minute of minutes" [value]="minute">
              {{minute}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="errorMessage" class="error-message">
        <mat-icon>error_outline</mat-icon>
        <span>{{errorMessage}}</span>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="card-actions">
    <button mat-flat-button color="primary" routerLink="/">
      <mat-icon>arrow_back</mat-icon>
      Zurück
    </button>
    <button mat-flat-button color="primary" routerLink="/activities" [disabled]="!hasReturnTime">
      Weiter
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
