<div class="location-selector">
  <h2>Wo bist du gerade?</h2>
  <p class="description">Wir benötigen deinen Standort, um passende Aktivitäten vorzuschlagen</p>

  <div class="options">
    <mat-radio-group [(ngModel)]="locationType" 
                     (ngModelChange)="handleLocationTypeChange($event)">
      <div class="option">
        <mat-radio-button value="current">
          <div class="option-content">
            <mat-icon class="navigation-icon">navigation</mat-icon>
            Aktuellen Standort verwenden
          </div>
        </mat-radio-button>
      </div>

      <div class="option">
        <mat-radio-button value="custom">
          <div class="option-content">
            <mat-icon>place</mat-icon>
            Anderen Standort eingeben
          </div>
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>

  <div class="startpoint">
    <mat-icon>place</mat-icon>
    <div class="startpoint-content">
      <h3>Dein Startpunkt</h3>
      <p>{{locationName || "Nicht festgelegt"}}</p>
    </div>
  </div>

  <div class="card-actions">
    <span class="back-button"></span>
    <button mat-flat-button color="primary" routerLink="/time" [disabled]="!hasLocation">
      Weiter
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
