<div class="location-selector">
  <h2>Wo bist du?</h2>
  <p class="description">Wähle deinen Standort aus</p>

  <mat-card>
    <mat-card-content>
      <mat-radio-group [(ngModel)]="locationType" (change)="onLocationTypeChange()">
        <mat-radio-button value="current">Aktueller Standort</mat-radio-button>
        <mat-radio-button value="other">Anderer Standort</mat-radio-button>
      </mat-radio-group>

      <div *ngIf="locationType === 'other'" class="location-search">
        <mat-form-field appearance="outline">
          <mat-label>Standort eingeben</mat-label>
          <input matInput
                 [(ngModel)]="manualLocation"
                 placeholder="z.B. Zürich"
                 (keyup.enter)="onManualLocationSubmit()">
          <mat-icon matSuffix>location_on</mat-icon>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="card-actions">
    <button mat-flat-button color="primary" routerLink="/">
      <mat-icon>arrow_back</mat-icon>
      Zurück
    </button>
    <button mat-flat-button color="primary" routerLink="/time" [disabled]="!hasLocation">
      Weiter
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
